.filter-form {
  display: flex;
  justify-content: space-between;
  max-width: 542px;
  padding: 0 16px;
  margin: 24px auto;
  color: #7a8288;
  box-sizing: border-box;
}

.filter-label {
  margin-right: 16px;
  flex-basis: 25%;
}

.filter-select {
  width: 100%;
  margin-top: 0;
  color: #fff;
  background-color: #7a8288;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .filter-form {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .filter-form {
    max-width: 1024px;
  }
}
