.games-ul {
  display: block;
  max-width: 542px;
  margin: 0 auto;
  padding: 0 16px;
  list-style-type: none;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .games-ul {
    max-width: 1024px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .games-ul {
    max-width: 768px;
    padding: 0 28px;
  }
}

.games-li {
  margin-bottom: 24px;
  transition: all 0.2s ease-in-out;
}

.games-li:hover {
  transform: scale(1.02);
}

@media (min-width: 1024px) {
  .games-li {
    display: inline-block;
    max-width: 312px;
    margin-right: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .games-li {
    display: inline-block;
    max-width: 332px;
    margin-right: 24px;
  }
}
